.layout-menu{
    text-align: right;
}

#user_info_menu{
    display: none;
}

#banner{
    background-color: #a2a2a2;
}

#slogan{
    text-align: center;
    font-size:xx-large;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    color: #0d3349;
}

#logo{
    display: inline-block;

}
.menu-bar{
    display: inline-block;
    background-color: #d3d3d3;
    width: 100%;
    padding-left: 15% !important;
    padding-right: 10%;
}
.menu-item{
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    color: #0064cd;
    font-size:larger;
}

.submenu-bar{
    background-color: rgb(219,238,244);
}
.submenu-item{
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    color:#808080;
    font-size: medium;
}